@{
    Layout = "~/Areas/HTGL/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    #win select
    {
        height: 24px;
        padding: 2px;
        width: 120px;
    }
    #search
    {
        padding:5px 5px 5px 15px;
    }
</style>
<script type="text/javascript">
    $(function () {
        var lastIndex;
        $('#mytable').datagrid({
            type: 'POST',
            idField: "id",
            url: '/Menu/GetData',
            loadMsg: '加载中...',
            height: 'auto',
            width: '100%',
            pageSize: 10,
            singleSelect: true,
            pagination: true, //分页控件
            rownumbers: true, //行号
            animate: true,
            fitColumns: true,
            fit: false, //自动大小
            onDblClickRow: function (rowIndex, rowData) {
                lastIndex = rowIndex;
                $("#mytable").datagrid('endEdit', rowIndex);
                $("#mytable").datagrid('beginEdit', rowIndex);
                var oldordering = rowData.ordering;
            },
            columns: [[
                        { field: 'id', checkbox: true, title: '全选', width: 50 },
                        { field: 'name', title: '菜单名称', width: 200, align: 'center' },
                        { field: 'url', title: '菜单链接地址', width: 100, align: 'center' },
                        { field: 'iconcls', title: '菜单样式', width: 200, align: 'center', formatter: function (value) { return '<span class="' + value + '"></span>' + value; } },
                        { field: 'type', title: '是否为父菜单', width: 200, align: 'center', formatter: function (value) { if (value != null) { if (value) { return '是'; } else { return '否'; } } }
                        },
                        { field: 'isexpand', title: '是否默认展开菜单', width: 200, align: 'center', formatter: function (value) { if (value != null) { if (value) { return '是'; } else { return '否'; } } } },
                        { field: 'pname', title: '父菜单名称', width: 200, align: 'center', formatter: function (value) { if (value != null) { return value } } },
                        { field: 'time', title: '创建时间', width: 200, align: 'center', formatter: function (value) { if (value != null) { return getDateTime(value); } } },
                        { field: 'action', title: '操作', width: 200, align: 'center',
                            formatter: function (value, row, index) {
                                var e = '<a href="#" onclick="openEditDialog(\'' + row.id + '\')">编辑</a> ';
                                var d = '<a href="#" onclick="delMenu(\'' + row.id + '\',\'' + row.type + '\')">删除</a>';
                                //                                alert(row.defaultvalue);
                                if (!row.defaultvalue) {
                                    return e + " | " + d;
                                } else {
                                    return e;
                                }
                            }
                        }
                ]], toolbar: [{
                    text: '新增',
                    iconCls: 'icon-add',
                    handler: function () {
                        $('#win').find('form').remove();
                        $("#win").load("/htgl_bug2345/Menu/UpdateMenu?type=1");
                        $('#win').window('open');
                    }
                }, '-', {
                    text: '编辑',
                    iconCls: 'icon-edit',
                    handler: openDialog
                }]
        });

        $('#pid').attr('disabled', true);
        widow();
    });

    //禁用选项
    function DisabledOption() {
        var selected = $('#type').val();
        if (selected == 'true') {
            document.getElementById('pid').disabled = true;
            document.getElementById('isexpand').disabled = false;
            document.getElementById('url').disabled = true;
            $('url').append('<option value="" selected="selected"></option>');
        }

        if (selected == 'false') {
            document.getElementById('pid').disabled = false;
            document.getElementById('isexpand').disabled = true;
            document.getElementById('url').disabled = false;
        }
    }

    //删除菜单
    function delMenu(id, type) {
        $.messager.confirm('操作提示', '确定要删除？', function (r) {
            if (r) {
                url = "/Menu/DeleteMenu";
                parameter = { id: id };
                $.post(url, parameter, function (data) {
                    if (data == "0") {
                        $.messager.alert('删除成功!', '删除成功！', 'icon-alert', function () {
                            $('#mytable').datagrid('reload');
                            Reload();
                        });
                    } else {
                        $.messager.alert('提示信息！', data);
                    }
                });
            }
        });
    }

    function Reload() {
        window.parent.Remove();
        window.parent.LoadMenu();
    }

    //编辑菜单窗口
    function openDialog() {
        var table = $('#mytable').datagrid('getSelected');
        if (table) {
            $("#win").find('form').remove();
            $("#win").load("UpdateMenu?id=" + table.id + "&type=0");
            $('#win').window('open');
        } else {
             $.messager.alert('提示信息', '请选中行');
        }
     }

     function openEditDialog(id) {
         $("#win").find('form').remove();
         $("#win").load("/htgl_bug2345/Menu/UpdateMenu?id=" + id + "&type=0");
         $('#win').window('open');
     }

    function widow() {
        $('#win').window({
            title: '操作选项',
            width: 380,
            height: 300,
            iconCls: 'icon-add',
            shadow: true,
            top: 100,
            left: 300,
            modal: true,
            closed: true,
            collapsible: false,
            minimizable: false,
            maximizable: false
        });
    }

    //新增为true,编辑为false
    function SaveBtn(flag) {
//        alert(flag);
        var content = $('#name').attr('value');
        if (content == '' || content == "") {
            alert("请填写菜单名称");
        } else {
            if (flag == false) {
//                alert(flag);
                $.ajax({
                    type: 'post',
                    url: '/Menu/SaveMenuInfo',
                    data: $("#form").serialize(),
                    success: function (r) {
                        if (r == "0") {
                            $.messager.alert("提示信息", "编辑成功", '', function () {
                                $('#win').window('close');
                                $('#mytable').datagrid('reload');
                                $('#mytable').datagrid('clearSelections');
                                Reload();
                            });
                        } else {
                            $.messager.alert("提示信息", "编辑失败");
                        }
                    }
                });
            }

            if (flag == true) {
//                alert(flag);
                $.ajax({
                    type: 'post',
                    url: '/Menu/AddMenu',
                    data: $("#form").serialize(),
                    success: function (r) {
                        if (r == "0") {
                            $.messager.alert("提示信息", "添加成功", 'icon-alert', function () {
                                $('#win').window('close');
                                $('#mytable').datagrid('reload');
                                Reload();
                            });

                        } else if (r == "1") {
                            $.messager.alert('提示信息', '添加失败', 'icon-alert');
                        } else {
                            $.messager.alert("提示信息", "数据格式错误");
                        }
                    }
                });

            }
        }
    }

    //新增为true,编辑为false
    function closeDialog(flag){
        $('#win').window('close');
    }
</script>
<div class="tools_box">
<div style="padding:5px" id="search"> 菜单名称：<input type="text" /> <input type="button" value="查询" /></div>
    @using (Html.BeginForm("List", "Menu", FormMethod.Post))
    {    <table id="mytable">
         </table> 
    }
</div>
<!--新增窗口-->
<div id="win" class="easyui-window" title="新增窗口" style="width: 300px; height: 150px;
    padding: 5px;">
   
</div>