@model IEnumerable<DataBase.AppData.Category>
@{
    Layout = null;
}
@if (Model != null && Model.Count()>0)
{
    foreach (var item in Model)
    {
        <li class=""><a href="@Html.Action("Search", "SearchResult", new { @id = @item.id })">@item.name</a></li>
    }
}
else
{
    <li class=""><a href="#">暂无分类</a></li>   
}

