@{
    ViewBag.Title = "个人中心";
    Layout = null;
}

<div class="container">
    <div class="left_panel">
        <h2>
            <i class="icon_home"></i>欢迎回来，@ViewBag.UserName</h2>      
    </div>
    <div class="right_panel">
        <div id="container">
        </div>
    </div>
    <div class="clearfixed">
    </div>
</div>
