@model List<DataBase.AppData.XFX_Navigation>
@{
    if(Model != null && Model.Count > 0)
    {
        foreach(var navigation in Model)
        {
            <li>            
                @Html.ActionLink(navigation.name , navigation.url);
            </li>
        }
    }
}